.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 540px;
}

.welcome {
  margin-bottom: 0.2rem;
}

.details {
  margin-bottom: 2rem;
}

button {
  width: 100%;
}

.credits {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-top: 1.4rem;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .intro {
    width: 95%;
    height: 95vh;
  }

  .welcome {
    text-align: center;
    font-size: 40px;
  }

  .action {
    margin-top: auto;
    height: 40px;
  }

  .credits {
    margin-top: 0.8rem;
  }
}