.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 540px;
}

.credits {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-top: 1.4rem;
  font-size: 14px;
  font-weight: 300;
}