.main {
  width: 1000px;
  padding: 2rem;
  margin: auto;
}

.examples-label {
  margin-top: 0.8rem;
}

.info {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.input {
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.8rem;
  column-gap: 8px;
}

.result, .summary-error {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .main {
    width: 95%;
    height: 95vh;
  }

  .header {
    margin-bottom: 0.4rem;
  }

  .examples-label {
    margin-top: 2rem;
  }

  .info {
    flex-direction: column;
    row-gap: 1rem;
  }

  .actions button {
    flex: 1;
  }
}
