.main {
  width: 1000px;
  padding: 2rem;
  margin: auto;
}

.examples-label {
  margin-top: 0.8rem;
}

.info {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.input {
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.8rem;
  column-gap: 8px;
}

.result {
  padding: 1rem;
}
