<div class="glass-box main">
  <h1>Olá {{currentUser.name}}</h1>
  <h3>Insira a URL inteira de um vídeo do youtube ou só o id para conseguir o resumo desse video</h3>
  <h3 class="examples-label">Exemplos:</h3>
  <div class="info">
    <div class="examples">
      <div>
        <strong><small>Com URL: </small></strong>
        <small>youtube.com/watch?v=Lubx6K2vV4I&list=RDLubx6K2vV4I&start_radio=1</small>
      </div>
      <div>
        <strong><small>Com ID: </small></strong>
        <small>Lubx6K2vV4I</small>
      </div>
    </div>
    <div class="limitations">
      <strong>*Suporta vídeos de até 1 minuto</strong>
    </div>
  </div>
  <div class="input">
    <input nz-input placeholder="Cole aqui o vídeo link ou ID" [(ngModel)]="videoId" type="text" nzVariant="underlined"/>
    @if(this.showBlankInputErr) {
      <small style="color: red;"><strong>Cole aqui um vídeo para obter o resumo</strong></small>
    }
    <div class="actions">
      <button nz-button nzType="primary" nzGhost="" nzShape="round" nzSize="large" [disabled]="loading">Voltar</button>
      <button nz-button nzType="primary" nzShape="round" nzSize="large" [nzLoading]="loading" (click)="getSummary()">Gerar resumo</button>
    </div>
  </div>
  @if (this.summary) {
    <div class="result glass-box" @show>
      <p>
        {{summary}}
      </p>
    </div>
  }
  @if (this.summaryRequestErr) {
    <div class="summary-error glass-box">
      <p style="color: red">{{summaryRequestErr}}</p>
    </div>
  }

  @if (this.sameSummaryRequestErr) {
    <div class="summary-error glass-box">
      <p style="color: red">{{sameSummaryRequestErr}}</p>
    </div>
  }
</div>
